.split-page {
    display: flex;
    height: 100vh;
}

.message-list {
    flex: 1;
    padding: 20px;
    color: white;
}

.message-container {
    flex: 1;
    padding: 20px;
    color: black;
}

.message-list {
    background-color: rgb(53,53,62);
}

.message-container {
    background-color: #ecf0ef;
}